// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #202426;
$secondary: #F2F2F2;

$black: #222;


/* Color Theme Swatches in Hex */
$color-theme_parque-1-hex: #A9BF04;
$color-theme_parque-2-hex: #D97904;
$color-theme_parque-3-hex: #F2C185;
$color-theme_parque-4-hex: #8C3503;
$color-theme_parque-5-hex: #591902;

