
//    Font Family

//$primary-font	: 'Poppins', sans-serif;

$primary-font : 'Caveat Brush','Caveat', cursive;  



/*--------------------------- Color variations ----------------------*/

$primary-color	: #b01afe;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;

/* Color Theme Swatches in Hex */
$color-theme_parque-1: #A9BF04;
$color-theme_parque-2: #D97904;
$color-theme_parque-3: #F2C185;
$color-theme_parque-4: #8C3503;
$color-theme_parque-5: #591902;




